.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-image-1 {
  width: 1608px;
  left: -157px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-image-1 {
    width: 1092px;
    height: 616px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 1px auto 43px -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 406px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 192px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-text-1 {
  margin: 57px auto 0 93px;
}

.u-section-2 .u-line-1 {
  width: 333px;
  transform-origin: left center 0px;
  margin: 0 auto 0 93px;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 326px;
  margin: 33px auto 0 93px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-image-1 {
  width: 291px;
  height: 291px;
  margin: -381px 88px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 353px;
  height: 164px;
  margin: -241px 472px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 46px 506px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    width: 268px;
    height: 268px;
    margin-top: -332px;
    margin-right: 46px;
  }

  .u-section-2 .u-shape-1 {
    width: 329px;
    margin-top: -223px;
    margin-right: 379px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 401px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 35px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 10px;
    margin-left: 25px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 17px;
    margin-left: 25px;
  }

  .u-section-2 .u-image-1 {
    width: 291px;
    height: 291px;
    margin-top: -361px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 248px;
    height: 133px;
    margin-top: -201px;
    margin-right: 303px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -367px;
    margin-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 178px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-left: 141px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 89px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 92px;
  }
}